<!-- PAGE ON WHICH THE USER SHOULD FILL IN THE BLANKS -->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    let socket = io.connect();
    let room = "<%= room_id %>";
    let current_sentence = "<%= c_sentence %>";

    socket.on('connect', function() {
        if(room != "")
            socket.emit('join_room', room);
    });

    socket.on('game_reload', function() {
        document.location.reload();
    });

    socket.on('game_answer_response', function(message, error) {
        if(error)
            console.error(message);
        else
            console.log(message);
    });


    function submitAnswer() {
        let ans = document.getElementById('user_answer').value;
        socket.emit('user_answer', room, ans);
        // ans = "first hole sentence $$$ second hole sentence"
    }


    window.onload = function() {
        document.getElementById('original_sentence').innerHTML = current_sentence;
    };
</script>

<div class="answer_page">
    <p>Original sentence :</p>
    <p id="original_sentence"></p>

    <br /><br />
    <label>Answer here (every hole must contain a number of chars between <%= min_chars %> and <%= max_chars %>) :
        <br /><input type="text" id="user_answer" />
    </label>

    <br /><input type="submit" onclick="submitAnswer()" value="Valider">
</div>
