<footer>
    <div class="footer-span-bot" style="display: none; ">
        <span itemscope itemtype="http://schema.org/WebSite">
            <title itemprop="name">FillTheGaps</title>
            <link rel="canonical" href="https://fill-gaps.herokuapp.com/" itemprop="url" />
        </span>

        <span itemscope itemtype="http://schema.org/Organization">
            <link itemprop="url" href="" />
            <a itemprop="sameAs" href="https://github.com/xam4lor">Github de xam4lor</a>
            <a itemprop="sameAs" href="https://github.com/vrodriguez01">Github de vrodriguez01</a>
            <span itemprop="contactPoint">
                <a itemprop="email" href="mailto:xam4lor@gmail.com">Email de xam4lor</a>
                <a itemprop="email" href="mailto:victorodriguez148@gmail.com">Email</a>
            </span>
        </span>h
    </div>


    <div class="footer-container">
         <h2 class="f-item underline-eff-white" id="f-copy">
             &copy;<%= new Date().getFullYear(); %> Maxime Dherbécourt, Victor Rodriguez
         </h2>

         <div class="f-item" id="f-copyright">
             <div class="rules">
                 <a href="mailto:xam4lor@gmail.com">Email de xam4lor</a>
                 &nbsp;&nbsp;|&nbsp;&nbsp;
                 <a href="mailto:victorodriguez148@gmail.com">Email de vrodriguez01</a>
             </div>

             &nbsp;&nbsp;|&nbsp;&nbsp;version 2.1
         </div>
     </div>
</footer>
