<!-- WEBSITE INDEX PAGE -->

<!-- redirection -->
<a href="/req/new_game">Nouvelle session de jeu</a>

<!-- on entre le game pin directement sur la page -->
<br /><br />
<input type="text" value="Game pin">
<button type="submit">Connexion</button>



<!-- Pour moi ;) -->
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io.connect();

    socket.on('message', function(data) {
        alert(data);
    });
</script>
