<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../partial/head') %>

        <script type="text/javascript">
            let socket = io.connect();
            let error = "<%= error %>";
        </script>

        <script src="/js/main.js" charset="utf-8"></script>
    </head>

    <body>
        <header>
            <%- include('../partial/header') %>
        </header>


        <main>
            <div class="m-section">
                <!-- Tu peux modifier qu'à partir d'ici sinon je te décapite -->
                <a href="/game/configuration">New Game</a>

                <br /><br />
                <input id="gamePin" type="text" value="Game pin"><!-- Do not delete the 'id' param -->
                <button type="submit" onclick="connect()">Connection</button><!-- Do not delete the 'onclick' param -->
            </div>
        </main>


        <%- include('../partial/footer') %>
    </body>
</html>
