<!-- WEBSITE INDEX PAGE -->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    let socket = io.connect();

    socket.on('redirect_user', function(dest) {
        window.location.href = dest;
    });
</script>


<!-- redirection -->
<a href="/game/configuration">Nouvelle session de jeu</a>

<!-- on entre le game pin directement sur la page -->
<br /><br />
<input type="text" value="Game pin">
<button type="submit">Connexion</button>
