<!-- WEBSITE INDEX PAGE -->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    let socket = io.connect();

    socket.on('redirect_user', function(dest) {
        window.location.href = dest;
    });


    function connect() {
        window.location.href = "/game/waiting?room_id=" + document.getElementById('gamePin').value;
    }
</script>


<!-- redirection -->
<a href="/game/configuration">Nouvelle session de jeu</a>

<!-- on entre le game pin directement sur la page -->
<br /><br />
<input id="gamePin" type="text" value="Game pin">
<button type="submit" onclick="connect()">Connexion</button>
