<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partial/head') %>

        <script type="text/javascript">
            let socket = io.connect();
            let pScores = JSON.parse("<%= pScores %>".replace(/&#34;/g, '"'));
        </script>

        <script src="/js/results_game.js" charset="utf-8"></script>
    </head>

    <body>
        <header>
            <%- include('../../partial/header') %>
        </header>


        <main>
            <div class="m-section">
                <!-- Tu peux modifier qu'à partir d'ici sinon je te décapite -->
                <div class="scores">
                    <p>Scores :</p>
                    <div id="scores_show"></div><!-- Do not delete the 'id' param -->
                </div>
            </div>
        </main>


        <%- include('../../partial/footer') %>
    </body>
</html>
