<!-- SHOWS THE PLAYERS CLASSMENT ORDER AND SOME BUTTONS ON WHAT TO DO NEXT -->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    let socket = io.connect();
    let pScores = JSON.parse("<%= pScores %>".replace(/&#34;/g, '"'));

    console.log("Players scores:", pScores);

    document.onload = function() {
        let allCount = Object.keys(pScores);

        for (let i = 0; i < allCount.length; i++) {
            array[i]
        }
    }
</script>


<p>Résultats (voir console)</p>
