<!-- WAITING FOR OTHER PLAYERS -->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    let socket = io.connect();
    let room = "<%= room_id %>";
    let isSuperAdmin = "<%= is_super_admin %>";

    socket.on('connect', function() {
        if(room != "")
            socket.emit('join_room', room);
    });

    socket.on('new_player', function(player_total_count) {
        console.log(`A new player has come. Total player count is now ${player_total_count}.`)
    });


    if(isSuperAdmin)
        document.getElementById('submit_button').style.display = 'unset';
</script>


<form action="/req/begin_party" method="post">
    <input style="display: none;" id="submit_button" type="submit" value="Commencer la partie">

    <input style="display: none;" type="text" name="room_id" value="<%= room_id %>">
</form>
